In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd

In [8]:
l1 = ['a', 'b', 'c', 'd']
l2 = [1, 2, 3, 4]
a1 = np.array(l1)
a2 = np.array(l2)
s1 = pd.Series(a1)
s2 = pd.Series(a2)

In [15]:
df1 = pd.DataFrame({'column1': l1, 'column2': l2})
df2 = pd.DataFrame({'column1': a1, 'column2': a2})
df3 = pd.DataFrame({'column1': s1, 'column2': s2})
df4 = pd.DataFrame([{'column1': 'a', 'column2': 1}, {'column1': 'b', 'column2': 2}, {'column1': 'c', 'column2': 3}, {'column1': 'd', 'column2': 4}])
print(df1)
print(df2)
print(df3)
print(df4)

  column1  column2
0       a        1
1       b        2
2       c        3
3       d        4
  column1  column2
0       a        1
1       b        2
2       c        3
3       d        4
  column1  column2
0       a        1
1       b        2
2       c        3
3       d        4
  column1  column2
0       a        1
1       b        2
2       c        3
3       d        4

In [31]:
print(df1.shape)
print(df1.dtypes)
print(df1.columns.values)

(4, 2)
column1    object
column2     int64
dtype: object
['column1' 'column2']

In [17]:
#many possible parameters 
data = pd.read_csv('data.csv')
#data.to_csv('data.csv')
print(data)

   running_time                     title  year
0           118  The Silence of the Lambs  1991
1           106        The Usual Suspects  1995
2           119        American History X  1998
3           177             The Godfather  1972
4           179   The Wolf of Wall Street  2013
5            31                 Kung Fury  2015
6            91                 Dead Snow  2009