In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')
print(df, '\n')

   running_time                     title  year
0           118  The Silence of the Lambs  1991
1           106        The Usual Suspects  1995
2           119        American History X  1998
3           177             The Godfather  1972
4           179   The Wolf of Wall Street  2013
5            31                 Kung Fury  2015
6            91                 Dead Snow  2009

In [4]:
df2 = pd.DataFrame([{'running_time': 100, 'title': 'Dead Snow: Red vs. Dead', 'year': 2014}, \
                    {'running_time': 91, 'title': 'Dead Snow', 'year': 2009}])
print(df2)

   running_time                    title  year
0           100  Dead Snow: Red vs. Dead  2014
1            91                Dead Snow  2009

In [5]:
#add row/rows
df_temp = pd.concat([df, df2])
print(df_temp)

   running_time                     title  year
0           118  The Silence of the Lambs  1991
1           106        The Usual Suspects  1995
2           119        American History X  1998
3           177             The Godfather  1972
4           179   The Wolf of Wall Street  2013
5            31                 Kung Fury  2015
6            91                 Dead Snow  2009
0           100   Dead Snow: Red vs. Dead  2014
1            91                 Dead Snow  2009

In [6]:
df_temp = pd.concat([df, df2], ignore_index = True)
print(df_temp)

   running_time                     title  year
0           118  The Silence of the Lambs  1991
1           106        The Usual Suspects  1995
2           119        American History X  1998
3           177             The Godfather  1972
4           179   The Wolf of Wall Street  2013
5            31                 Kung Fury  2015
6            91                 Dead Snow  2009
7           100   Dead Snow: Red vs. Dead  2014
8            91                 Dead Snow  2009

In [7]:
df_temp = pd.concat([df, df2]).drop_duplicates().reset_index(drop=True)
print(df_temp)
df = df_temp
#also have a look at df.append()

   running_time                     title  year
0           118  The Silence of the Lambs  1991
1           106        The Usual Suspects  1995
2           119        American History X  1998
3           177             The Godfather  1972
4           179   The Wolf of Wall Street  2013
5            31                 Kung Fury  2015
6            91                 Dead Snow  2009
7           100   Dead Snow: Red vs. Dead  2014

In [8]:
#add column
df.loc[:,'running_time_dif'] = df.running_time - np.average(df.running_time)
print(df)
#for multiple columns (for example 2 dataframes) concat has an axis parameter

   running_time                     title  year  running_time_dif
0           118  The Silence of the Lambs  1991             2.875
1           106        The Usual Suspects  1995            -9.125
2           119        American History X  1998             3.875
3           177             The Godfather  1972            61.875
4           179   The Wolf of Wall Street  2013            63.875
5            31                 Kung Fury  2015           -84.125
6            91                 Dead Snow  2009           -24.125
7           100   Dead Snow: Red vs. Dead  2014           -15.125

In [9]:
#join
df_join = pd.DataFrame({'title': ['Dead Snow', 'The Usual Suspects'], 'director': ['Tommy Wirkola', 'Bryan Singer']})
print(df_join)

        director               title
0  Tommy Wirkola           Dead Snow
1   Bryan Singer  The Usual Suspects

In [10]:
#inner join as default
print(pd.merge(df, df_join))

   running_time               title  year  running_time_dif       director
0           106  The Usual Suspects  1995            -9.125   Bryan Singer
1            91           Dead Snow  2009           -24.125  Tommy Wirkola

In [11]:
#outer join
print(pd.merge(df, df_join, how = 'outer'))
#also here many more parameters

   running_time                     title  year  running_time_dif  \
0           118  The Silence of the Lambs  1991             2.875
1           106        The Usual Suspects  1995            -9.125
2           119        American History X  1998             3.875
3           177             The Godfather  1972            61.875
4           179   The Wolf of Wall Street  2013            63.875
5            31                 Kung Fury  2015           -84.125
6            91                 Dead Snow  2009           -24.125
7           100   Dead Snow: Red vs. Dead  2014           -15.125

        director
0            NaN
1   Bryan Singer
2            NaN
3            NaN
4            NaN
5            NaN
6  Tommy Wirkola
7            NaN

In [12]:
print(pd.merge(df, df_join, how = 'outer').dropna())

   running_time               title  year  running_time_dif       director
1           106  The Usual Suspects  1995            -9.125   Bryan Singer
6            91           Dead Snow  2009           -24.125  Tommy Wirkola